extends template-main.pug

block content
  h3.title Content
    div
      div.centred-div.centred-cont
        img.centred-img(alt='Placeholder for an image')
        p.image-subtitle
      h5
      p