html{
  background: url(https://zealana.co.nz/assets/Uploads/bush-background2.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container > div{
  background-color: rgba(230, 230, 230, 0.7);
}

/**
  Centring
*/
.centered-div, .centred-div{
  margin: auto;
}

.centred-cont, .centered-cont{
  align-content: center;
  text-align: center;
}

.centered-img, .centred-img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/**
  Text
*/
.image-subtitle{
  font-style: italic;
  font-size: 1em;
}

a:link{
  color: black;
}

a:visited{
  color: black;
}

a:hover{
  color: #ce5000;
}

.title{
  padding-left: 2rem;
}
