body{
  font-family:"Trebuchet MS", helvetica, sans-serif;
  padding: 0%;
}

h1{
  font-size:36;
}

h2{
  font-size:30;
}

h3{
  font-size:24;
}

h4{
  font-size:20;
}

p{
  font-size:20;
}

.main{
  position:relative;
  padding-left: 2%;
  padding-right: 30%;
  padding-top: 2%;
  padding-bottom: 1%;
  color:black;
  background-color: skyblue;
  border-radius: 25px;
}

.blogs{
  position:relative;
  padding:2%;
  padding-right:0%;
  color:white;
  background-color: #101010;
  border-radius: inherit;
}

.year{
  position:relative;
  padding:2%;
  padding-right:0%;
  color:black;
  background-color: #B0B0B0;
  border-radius: inherit;
}

.month{
  position:relative;
  padding:2%;
  padding-right:0%;
  color:black;
  background-color: #C0C0C0;
  border-radius: inherit;
}

.posts{
  position:relative;
  padding:2%;
  padding-right:0%;
  color:black;
  background-color: #D0D0D0;
  border-radius: inherit;
}

.blogtext{
  position:relative;
  padding:2%;
  padding-right:0%;
  color:black;
  background-color: #D0D0D0;
  border-radius: inherit;
}
