h1{
  font-family:"helvetica";
  font-size:36;
}

h2{
  font-family:"helvetica";
  font-size:30;
}

h3{
  font-family:"helvetica";
  font-size:24;
}

h4{
  font-family:"helvetica";
  font-size:20;
}

p{
  font-family:"helvetica";
  font-size:20;
}